@model JiggysCarRental.Models.ViewModel.RentalViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="mt-5 min-vh-100">
    <div>
        @Html.ValidationSummary()
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/images/vehicles/@Html.DisplayFor(model => model.Vehicle.Image)" class="img-thumbnail" alt="...">
            </div>
            <div class="col">
                <h1 class="text-success">@Html.DisplayFor(model => model.Vehicle.VehicleName)</h1>
                <p> @Html.DisplayFor(model => model.Vehicle.Details)</p>
                <h2>$@Html.DisplayFor(model => model.Vehicle.RentCost)</h2>
                <ul class="list-group">
                    <li class="list-group-item">@Html.DisplayFor(model => model.Vehicle.NumberOfPassengers) Passengers</li>
                    <li class="list-group-item">@Html.DisplayFor(model => model.Vehicle.NumberOfPassengers) Large bags</li>
                    @if (Model.Vehicle.UsbAdapter)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.UsbAdapter)</li>
                    }
                    @if (Model.Vehicle.ReverseCamera)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.ReverseCamera)</li>
                    }
                    @if (Model.Vehicle.PushStart)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.PushStart)</li>
                    }
                    @if (Model.Vehicle.Bluetooth)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.Bluetooth)</li>
                    }
                    @if (Model.Vehicle.ToolsControl)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.ToolsControl)</li>
                    }
                    @if (Model.Vehicle.SteeringControl)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.SteeringControl)</li>
                    }
                    @if (Model.Vehicle.ThermalControl)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.ThermalControl)</li>
                    }
                    @if (Model.Vehicle.HeatedSeat)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.HeatedSeat)</li>
                    }
                    @if (Model.Vehicle.AutomaticTransmission)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.AutomaticTransmission)</li>
                    }
                    @if (Model.Vehicle.Aux)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.Aux)</li>
                    }
                    @if (Model.Vehicle.FourWheelDrive)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.FourWheelDrive)</li>
                    }
                    @if (Model.Vehicle.LeatherSeats)
                    {
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Vehicle.LeatherSeats)</li>
                    }
                </ul>
                <form asp-action="Details">
                    <div class="container">
                        <div class="row">
                            <div class="col mt-4">
                                <input asp-for="Vehicle.VehicleName" class="form-control" hidden />
                                <input asp-for="Vehicle.RentCost" class="form-control" hidden />
                                <div class="form-group">
                                    <label asp-for="Rental.PickupDate" class="control-label"></label>
                                    <input asp-for="Rental.PickupDate" class="form-control" max="@Model.Vehicle.EndDateAvailable.ToString("yyyy-MM-ddTHH:mm")" min="@Model.Vehicle.StartDateAvailable.ToString("yyyy-MM-ddTHH:mm")" />
                                    <span asp-validation-for="Rental.PickupDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col mt-4">
                                <div class="form-group">
                                    <label asp-for="Rental.ReturnDate" class="control-label"></label>
                                    <input asp-for="Rental.ReturnDate" class="form-control" max="@Model.Vehicle.EndDateAvailable.ToString("yyyy-MM-ddTHH:mm")" min="@Model.Vehicle.StartDateAvailable.ToString("yyyy-MM-ddTHH:mm")" />
                                    <span asp-validation-for="Rental.PickupDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h3 class="font-weight-bold">Add Ons</h3>
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Rental.GPSNavigation" /> @Html.DisplayNameFor(model => model.Rental.GPSNavigation)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Rental.InfantAndChildSeats" /> @Html.DisplayNameFor(model => model.Rental.InfantAndChildSeats)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Book Now!" class="btn btn-success w-100" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Index" class="btn btn-light w-100"><i class="fa-solid fa-angle-left"></i> Choose Another Type</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}